<% author = question.author %>

<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <%= question.text %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <%= question.answer %>
      </div>
    <% end %>

    <div class="question-date">
      <% if author.present? %>
        <div class="question-text text-author">
          <%= link_to "@#{author.username}", user_path(author) %>
        </div>
      <% else %>
        <span><i><%= t('views.questions.anonymous') %></i></span>
      <% end %>
      <%= l(question.created_at, format: :short) %>
    </div>

    <div class="question-hashtags">
      <%= question.tags.map { |h| link_to "##{h.name}", tag_path(h) }.join(', ').html_safe %>
    </div>
  </div>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>

    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: {confirm: t('views.questions.are_you_sure')} %>
    </div>
  <% end %>
</div>
