<div class="container content-wrapper buffer-both">
  <h1 class="title-medium"><%= t('app.headers.change_profile') %></h1>

  <div class="column-1-2">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div class="form-errors">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li class="form-error-message"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-field">
        <%= f.label :username, class: 'form-label' %>
        <%= f.text_field :username, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label t('views.users.your_name'), class: 'form-label' %>
        <%= f.text_field :name, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label t('views.users.your_avatar_url'), class: 'form-label' %>
        <%= f.text_field :avatar_url, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label t('views.users.bg_color'), class: 'form-label' %>
        <%= f.color_field :color, class: 'form-text-field form-palette', value: @user.color %>
      </div>

      <div class="buffer-top-large buffer-bottom">
        <%= t('views.users.dont_change_your_password') %>
      </div>

      <div class="form-field">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :password_confirmation, class: 'form-label' %>
        <%= f.password_field :password_confirmation, class: 'form-text-field' %>
      </div>

      <div class="form-action buffer-top">
        <%= f.submit t('links.saved'), class: 'button button-dark button-small' %>
      </div>
    <% end %>
    <div class="buffer-top">
      <h2><%= t('app.headers.delete_profile') %></h2>
      <div class="buffer-both">
        <%= link_to t('links.delete_profile'), @user, class: 'button button-danger button-small', method: :delete,
                    data: {confirm: t('views.questions.are_you_sure')} if current_user == @user %>
      </div>
    </div>
  </div>
</div>
